body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

/* NAVBAR */
.navbar {
    background: #001219;
    color: white;
    padding: 15px;
}

/* SECTIONS */
section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
}

/* QUIZ */
#options button {
    display: block;
    width: 100%;
    margin: 10px 0;
}

/* CAROUSEL */
.carousel img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

/* BUTTON */
button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    background: #005f73;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #001219;
}

/* FOOTER */
footer {
    background: #0a9396;
    color: white;
    padding: 10px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    section {
        width: 95%;
    }

    header h1 {
        font-size: 22px;
    }
}
