/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

/* BODY */
body{
    min-height:100vh;
    background:linear-gradient(135deg,#667eea,#764ba2);
}

/* NAVBAR */
.navbar{
    position:sticky;
    top:0;
    width:100%;
    padding:15px 30px;
    background:rgba(255,255,255,0.2);
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
    text-align:center;   /* logo center */
}

/* LOGO */
.logo{
    font-size:22px;
    font-weight:bold;
    color:white;
}

/* MAIN CONTAINER */
.container{
    max-width:900px;
    margin:30px auto;
    padding:20px;
    color:white;
    text-align:center;
}

/* CARD SECTIONS */
.card{
    background:rgba(255,255,255,0.15);
    padding:25px;
    margin-bottom:30px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,0.3);
}

/* QUIZ OPTIONS */
#options button{
    display:block;
    width:100%;
    margin:10px 0;
    padding:12px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    font-size:16px;
}

/* BUTTON */
.btn{
    margin-top:15px;
    padding:12px 28px;
    border:none;
    border-radius:30px;
    background:#00ffd5;
    font-weight:bold;
    cursor:pointer;
}

/* CAROUSEL */
.carousel{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
}

.carousel img{
    width:100%;
    max-width:550px;
    border-radius:15px;
}

.carousel button{
    font-size:32px;
    background:none;
    border:none;
    color:white;
    cursor:pointer;
}

/* FOOTER */
footer{
    margin-top:20px;
    opacity:0.7;
    text-align:center;
}

/* RESPONSIVE */
@media(max-width:600px){
    .container{
        padding:15px;
    }
}
